<table>
  <thead>
  	<tr>
  	  <th>Item</th>
  	  <% inventories.each do |i| %>
  	     <th><%= i %></th>
  	   <% end %>
  	</tr>
  </thead>

  <tbody>
    <% items.each do |i,h| %>
    <tr>
      <td><%= i %></td>

      <% inventories.each do |i| %>
        <td><%= h[i] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
