<h1>Listing dropoff_locations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dropoff_locations.each do |dropoff_location| %>
      <tr>
        <td><%= link_to 'Show', dropoff_location %></td>
        <td><%= link_to 'Edit', edit_dropoff_location_path(dropoff_location) %></td>
        <td><%= link_to 'Destroy', dropoff_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dropoff location', new_dropoff_location_path %>
