<% start_date = start_date.blank? ? default_start_date : start_date %>
<% end_date = end_date.blank? ? default_end_date : end_date %>
<h3><%= "Donation Totals for #{start_date.strftime('%D')} - #{end_date.strftime('%D')}" %></h3>
<h5>Totals Items Donated By Source:</h5>
<ul>
 <% if start_date.blank? || end_date.blank?
 	  totals = diaper_totals_by_source
    else
      totals = diaper_totals_by_source(start_date, end_date)
    end

    totals.each do |source, total| %>
      <li><%= "#{source}: #{total}" %></li>
    <% end %>
</ul>
<h5>Totals Items Donated By Location:</h5>
<ul>
	<% dropoff_totals(start_date, end_date).each do |key, value| %>
		<li><%= "#{key}: #{value}" %></li>
	<% end %>
</ul>
