<% start_date = start_date.blank? ? default_start_date : start_date %>
<% end_date = end_date.blank? ? default_end_date : end_date %>
<h3><%= "Ticket Totals for #{start_date.strftime('%D')} - #{end_date.strftime('%D')}" %></h3>
<h5>Totals Items Distributed By Source:</h5>
<ul>
  <li>No stats to display yet</li>
</ul>
<h5>Totals Items Distributed By Location:</h5>
<ul>
	<li>No stats to display yet</li>
</ul>
